createdAt: "2019-07-25T09:20:30.126Z"
updatedAt: "2019-07-25T09:20:53.699Z"
type: "MARKDOWN_NOTE"
folder: "1b426d7766d1e36b59e7"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
