createdAt: "2019-07-27T05:00:45.529Z"
updatedAt: "2019-07-31T02:57:32.830Z"
type: "MARKDOWN_NOTE"
folder: "1b426d7766d1e36b59e7"
title: "Conda Usage"
tags: []
content: '''
  # Conda Usage
  
  - 查看conda版本 $ conda --version
  - 更新conda版本 $ conda update conda
  - 查看都安装了那些依赖库 $ conda list
  - ---
  - 创建新的python环境 $ conda create -n datf-env python=2
   并且还可以指定python的版本 $ conda create -n myenv python=3.7
  - 创建新环境并指定包含的库 $ conda create -n myenv scipy
   并且还可以指定库的版本 $ conda create -n myenv scipy=0.15.0
   ---
  - 复制环境 $ conda create --name myclone --clone myenv
  - 查看是不是复制成功了 $ conda info --envs
  - ---
  - 激活、进入某个环境 $ conda activate myenv
  - 退出环境 $ conda deactivate
  - 删除环境 $ conda env remove -n myenv
  ---
  - 查看当前的环境列表 $ conda info --envs，$ conda env list
  - 查看某个环境下安装的库 $ conda list -n myenv
  - 查找包 $ conda search XXX
  - 安装包 $ conda install XXX
  - 更新包 $ conda update XXX
  - 删除包 $ conda remove XXX
  ---
  - 安装到指定环境
  $ conda install -n myenv XXX
  ---
  - 分享环境
  > 如果你想把你当前的环境配置与别人分享，这样ta可以快速建立一个与你一模一样的环境（同一个版本的python及各种包）来共同开发/进行新的实验。一个分享环境的快速方法就是给ta一个你的环境的.yml文件。
  - 首先通过 activate myenv 进入要分享的环境 myenv，然后输入下面的命令会在当前工作目录下生成一个environment.yml文件，
  $ conda env export > environment.yml
  - 小伙伴拿到environment.yml文件后，将该文件放在工作目录下，可以通过以下命令从该文件创建环境
  $ conda env create -f environment.yml
'''
linesHighlighted: [
  20
]
isStarred: false
isTrashed: false
