createdAt: "2019-08-06T02:06:05.207Z"
updatedAt: "2019-08-06T06:12:14.408Z"
type: "SNIPPET_NOTE"
folder: "a8a34bf81446463f9ca3"
title: "indexer cluster"
tags: []
description: "indexer cluster"
snippets: [
  {
    linesHighlighted: []
    name: ""
    mode: "Python"
    content: ""
  }
]
isStarred: false
isTrashed: true
