createdAt: "2019-10-10T00:01:28.739Z"
updatedAt: "2019-10-14T02:21:45.529Z"
type: "MARKDOWN_NOTE"
folder: "1b426d7766d1e36b59e7"
title: "datf code style & best practice"
tags: []
content: '''
  # datf code style & best practice
  ## 
'''
linesHighlighted: []
isStarred: false
isTrashed: true
