createdAt: "2019-07-27T04:14:34.700Z"
updatedAt: "2019-07-27T04:15:34.313Z"
type: "MARKDOWN_NOTE"
folder: "1b426d7766d1e36b59e7"
title: "S2 - smartstore"
tags: []
content: '''
  # S2 - smartstore
  
  - platform - ec2 only
'''
linesHighlighted: []
isStarred: false
isTrashed: false
