createdAt: "2020-03-01T09:32:06.095Z"
updatedAt: "2020-03-01T09:32:12.889Z"
type: "MARKDOWN_NOTE"
folder: "2ba4b3be784e73eaaefb"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
