createdAt: "2020-03-19T05:18:47.480Z"
updatedAt: "2020-03-19T05:19:17.162Z"
type: "MARKDOWN_NOTE"
folder: "b52a7c0642d2c6d5f4b4"
title: ""
tags: []
content: ""
linesHighlighted: []
isStarred: false
isTrashed: true
